<!DOCTYPE html>
<html lang="en">

<head>
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="page/page.css" />
<script src="page/jquery-3.3.1.min.js"></script>
<script language="javascript" src="page/edit_page.js"></script>
</head>

<body>
    <form>
        <input class="button" id="adding_button" onclick=back() type="button" value="Done">
    </form>
    <table id="table" cellpadding="10" width="100%" border="0">
        <tr class="heading">
            <th>Name</th>
            <th>Student Id</th>
            <th>Grade</th>
        </tr>
    </table>
</body>